:root {
  --button-color1: #A3D6D4;
  --button-color2: #F1E9CB;
  --button-color3: #C2D5A7;
  --button-color4: #B0ABCA;
  --button-color5: #E2A9BE;
  --button-color6: #E1C6AC;
}

.buttons{
  color: rgba(0,0,0,.5);
  text-shadow: 3px 2px 3px rgba(255,255,255,.2);
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 2px;
  cursor: pointer;
}
.buttons:hover{
  opacity: 0.8;
}

.button-pagespeed{
  background-color: var(--button-color1);
}
.button-dfp{
  background-color: var(--button-color2);
}
.button-structured-data{
  background-color: var(--button-color3);
}
.button-amp{
  background-color: var(--button-color4);
}
