:root {
  --button-color1: rgba(163, 214, 212);
  --button-color2: rgba(241, 233, 203);
  --button-color3: rgba(194, 213, 167);
  --button-color4: rgba(176, 171, 202);
  --button-color5: rgba(226, 169, 190);
  --button-color6: rgba(225, 198, 172);
}

.buttons{
  color: rgba(0,0,0,.5);
  text-shadow: 3px 2px 3px rgba(255,255,255,.2);
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 2px;
  cursor: pointer;
}
.buttons:hover{
  opacity: 0.8;
  color: rgba(0,0,0,.8);
}

.button-pagespeed{
  background-color: var(--button-color1);
}
.button-dfp{
  background-color: var(--button-color2);
}
.button-structured-data{
  background-color: var(--button-color3);
}
.button-amp{
  background-color: var(--button-color4);
}
